.suggestions-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  /*   background-color: #fff; */
}

.suggestion-box {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
}

.suggestion-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.suggestion-image:hover {
  transform: scale(1.2);
}

.suggestion-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 12px 0;
}
