.info-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 12px;
  box-sizing: border-box;
}

.aqi-container {
  width: auto;
  height: auto;
  background-color: #ffffff43;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px;
  border-radius: 12px;
}

.aqi-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  background-color: #000;
}

.aqi-indicator {
  width: auto;
  height: auto;
  /* background-color: #ffffff43; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0 8px;
  border-radius: 12px;
}

.aqi-indicator-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 12px;
}

.aqi-indicator-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.aqi-indicator-text {
  font-size: 10px;
  font-weight: 600;
}
