body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

.input-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  width: 400px;
	margin: 0;
  font-size: 5.5rem;
	z-index: 999;
}

.Results {
  background-color: white;
  margin: 20px auto;
  border-radius: 8px;
  color: black;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 75%;
  max-width: 400px;
}

.Results__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 300px;
}

.Results__card h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.Results__card p {
  font-size: 18px;
  margin-bottom: 5px;
}

.Results__card__weather {
  display: flex;
  align-items: center;
}
.Results__card__weather img {
  margin-right: 10px;
}