body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

.input-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.search-bar-container {
  width: 400px;
	margin: 0;
  font-size: 5.5rem;
	z-index: 999;
}

.Results {
  background-color: white;
  margin: 20px auto;
  border-radius: 8px;
  color: black;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 75%;
  max-width: 400px;
}

.bg_img {
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

